$game-square-height: 20px;
$game-square-width: 20px;

$game-size: 15;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .game__root {
    display: grid;
    grid-template-columns: repeat($game-size, $game-square-height);
    grid-auto-rows: auto;
    .game__column {
      display: grid;
      grid-template-rows: repeat($game-size, $game-square-width);
      grid-auto-columns: auto;
      .game__square {
        width: $game-square-width;
        height: $game-square-height;
        background: #ccb772;

        &.apple::before {
          content: '';
          position: absolute;
          height: 15px;
          width: 15px;
          background: red;
          border-radius: 50%;
        }

        &.occupied {
          background: green;
          border-radius: 10%;
        }
      }
    }
  }
}
